@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@300;600&display=swap');

* {
	padding: 0;
	margin: 0;
	border: 0;
	outline: none;
	box-sizing: border-box;
}

html {
	height: 100%;
	scroll-behavior: smooth;
}

body, html {
	min-height: 100%;
	width: 100%;
}

body {
	font: 300 15px 'Bitter', serif;
	background: url('../images/main.jpg') no-repeat top left;
	background-size: cover;
	color: #fff;
	padding: 12vh 5vw;
}

.container {
	height: 73vh;
	display: flex;
	background: #1b1927;
	border: 15px solid #603c3c;
	border-radius: 5px;
	padding: 30px;
	box-shadow: 5px 5px 15px 0 rgba(0, 0, 0, .6), inset 0 0 15px 0 rgba(0, 0, 0, .6);
}

.sidebar {
	width: 200px;
}

.content {
	flex-grow: 1;
}