.content {
    height: 100vh;
    overflow-y: auto;
    min-height: 500px;
    padding-bottom: 20px;

    > .list__actions {
        display: none;
    }
}

.list {
    background: #fff;
    border: 1px solid lighten($grey, 70%);
    border-radius: 5px;

    li {
        display: flex;
        border-bottom: 1px solid lighten($grey, 70%);

        &:last-child {
            border-bottom: none;
        }

        > div {
            padding: 5px 10px;
        }
    }

    &__item {

    }

    &__number {
        width: 5%;
    }

    &__name {
        width: 30%;
    }

    &__role {
        width: 20%;
    }

    &__phone {
        width: 30%;
    }

    &__actions {
        width: 15%;
        display: flex;
        justify-content: flex-end;

        > div {
            margin-left: 10px;
            cursor: pointer;
            transition: all .3s;

            &:hover {
                color: $blue;
            }
        }
    }
}