.login {
    height: 100vh;
    min-height: 500px;
	position: relative;
	top: 0;
	z-index: 2;
	color: $white;
    background: url('../images/login.jpg');
    transition: all .7s linear;
    
    &::before {
        @include size(100%);
        @include pos();
        content: '';
        background: rgba(0, 3, 19, .3);
    }

	&__form {
		@include align(true, true);
        width: 400px;
        padding: 25px;
        background: rgba(0, 3, 19, .5);
        border-radius: 5px;
	}

	&__title {
		font-size: 24px;
		font-weight: 700;
		margin-bottom: 35px;
	}

	&__block {
		position: relative;
		margin-bottom: 10px;
		padding-bottom: 20px;

		&.invalid {
			color: $red;

			.login__field {
				border-bottom-color: $red;
			}

		}
	}

	&__label {
		@include pos($t: 7px, $l: 5px);
		font-size: 20px;
		cursor: pointer;
		transition: all .3s;

		&:hover {
			color: rgba(255, 255, 255, .5);
		}
	}

	&__field {
		width: 100%;
		font: 18px/40px $font;
		background: none;
		color: $white;
		border-bottom: 2px solid;
        padding-left: 40px;
        transition: all .3s;

		&::-webkit-input-placeholder {
			color: $white;
        }
        
        &:focus {
            border-bottom-color: $blue;
        }
	}

	&__error {
		@include pos($b: 0, $l: 0);
		font-size: 12px;
		color: $red;
	}

	&__show-pass {
		@include pos($r: 0, $t: 15px);
		font-size: 18px;
		cursor: pointer;
		transition: all .3s;

		&:hover {
			color: rgba(255, 255, 255, .5);
		}
	}

	&__forgot {
		cursor: pointer;
		margin-bottom: 20px;
		font-weight: 300;
		font-size: 14px;
		display: inline-block;

		span {
			font-size: 12px;
			background: rgba(255, 255, 255, .8);
			color: $blue;
			padding: 3px 10px;
			margin-left: 15px;
			position: relative;

			b {
				font-weight: 700;
			}

			&::before {
				@include triangle(rgba(255, 255, 255, .8), 7px, left);
				left: 0;
				top: 4px;
			}
		}
	}

	&__button {
		@include size(100%, 60px);
		font: 700 20px/60px $font;
		background: $white;
		cursor: pointer;
		color: $blue;
		position: relative;
        overflow: hidden;
        transition: all .3s;

        span {
            position: relative;
        }

		&::before {
			@include pos($t: 50%, $l: 50%);
			@include size(400px, 400px);
			content: '';
			border-radius: 50%;
			transform: translateX(-50%) translateY(-50%) scale(0);
			transition: all .3s;
            background: $blue;
		}

		&:focus {
            color: $white;

            &::before {
                transform: translateX(-50%) translateY(-50%) scale(1);
            }
        }
	}
}
