body {
	background: #e7e9ed;
	color: #535b61;
	font: 300 14px/22px "Poppins", sans-serif;
  }

  h4 {
	color: #0c2f54;
	font-size: 1.5rem;
  }

  .invoice-container {
	margin: 15px auto;
	padding: 40px;
	max-width: 650px;
	background-color: #fff;
	border: 1px solid #ccc;
	border-radius: 6px;
}

@media print {
	.invoice-container {
		margin: 0;
		max-width: 100%;
		border: none;

	}
}
  
.card {
	margin-top: 30px;
	color: #535b61;
}

.card-row {
	display: flex;
}

.card-col {
	padding: .5rem;
}

.btn {
	font-weight: 300;
}

.card-field {
	width: 70%;
    text-align: center;
}