.list {
    opacity: 0;
    visibility: hidden;
    height: 0;
    transition: all .3s;
    position: relative;

    &--active {
        opacity: 1;
        visibility: visible;
        //height: 100%;
    }

    &__item {
        cursor: pointer;
        margin-bottom: 5px;
    }
}